/******
GENERAL
******/

:root {
    --main-color: #d3ad7f;
    --second-color: #fff;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, 3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: .2s linear;
    font-size: 10px;
}

html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--second-color);
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}


/*****
HEADER
*****/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem;
    border-bottom: var(--border);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: var(--bg);
}

.logo-img {
    border-radius: 50%;
    height: 12rem;
    width: 14rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--second-color);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon {
    cursor: pointer;
    margin-left: 2rem;
    width: 2rem;
    height: 2rem;
}

.icon:hover {
    color: var(--main-color);
}

.menu-icon {
    display: none;
}

.search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: var(--second-color);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.search-input {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    padding: 1rem;
    outline: none;
    border: none;
    text-transform: none;
}

.cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: var(--second-color);
    padding: 0 1.5rem;
}

.cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.exit-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.cart-item-img {
    height: 8rem;
    width: 8rem;
}

.cart-item h3 {
    font-size: 2rem;
}

.price {
    font-size:  1.5rem;
    color: var(--main-color);
}

.payment-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    color: var(--second-color);
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.payment-btn:hover {
    background: #a0835f;
}


/***********
HOME SECTION
***********/

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/homebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 60rem;
}

.home-content h3 {
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--second-color);
}

.home-content p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding: 1rem 0;
    color: var(--main-color);
}

.home-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    color: var(--second-color);
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.home-btn:hover {
    background: #a0835f;
}


/************
ABOUT SECTION
************/

.about-heading {
    text-align: center;
    color: var(--second-color);
    text-transform: uppercase;
    margin-top: 5rem;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.about-heading span {
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.about-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--bg);
}

.about-row-image {
    flex:1 1 45rem;
}

.row-img {
    width: 100%;
}

.about-row-content {
    flex:1 1 45rem;
    padding: 2rem;
}

.about-row-content h3 {
    font-size: 3rem;
    color: var(--second-color);
}

.about-row-content p {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--second-color);
    padding: 1rem 0;
    line-height: 1.8;
}

.about-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    color: var(--second-color);
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.about-btn:hover {
    background: #a0835f;
}


/***********
MENU SECTION
***********/

.menu-heading {
    text-align: center;
    color: var(--second-color);
    text-transform: uppercase;
    margin-top: 5rem;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.menu-heading span {
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.menu-box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin-top: 5rem;
}

.box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.box:hover {
    background-color: var(--second-color);
}

.box:hover > * {
    color: var(--bg);
}

.box img {
    height: 16rem;
}

.box h3 {
    color: var(--second-color);
    font-size: 2rem;
    padding: 1rem 0;
}

.price {
    color: var(--second-color);
    font-size: 2rem;
    padding: .5rem 0;
}

.price span {
    color: var(--second-color);
    font-size: 1.5rem;
    text-decoration: line-through;
    margin-left: 0.5rem;
}

.menu-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    color: var(--second-color);
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}


/***************
PRODUCTS SECTION
***************/

.products-heading {
    text-align: center;
    color: var(--second-color);
    text-transform: uppercase;
    margin-top: 5rem;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.products-heading span {
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.products-box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin-top: 5rem;
}

.products-box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.products-icons img {
    width: 3rem;
    height: 3rem;
    border: var(--border);
    margin: .3rem;
    padding: .5rem;
    cursor: pointer;
}

.products-icons img:hover {
    background: var(--main-color);
}

.products-image {
    padding: 2.5rem 0;
}

.products-image img {
    height: 25rem;
}

.products-content h3{
    color: var(--second-color);
    font-size: 2.5rem;
}

.stars {
    padding: 1.5rem;
}

.stars img {
    width: 1.7rem;
}


/*************
REVIEW SECTION
*************/

.review-heading {
    text-align: center;
    color: var(--second-color);
    text-transform: uppercase;
    margin-top: 5rem;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.review-heading span {
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.review-box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin-top: 5rem;
}

.review-box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    background-color: var(--main-color);
}

.quote {
    width: 3rem;
    height: 3rem;
}

.review-box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--second-color);
    padding: 2rem 0;
}

.user {
    height: 8rem;
    width: 9rem;
    border-radius: 50%;
}

.review-box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--black);
}


/**************
CONTACT SECTION
**************/

.contact-heading {
    text-align: center;
    color: var(--second-color);
    text-transform: uppercase;
    margin: 5rem 0;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.contact-heading span {
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.contact-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: var(--black);
}

.contact-map {
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact-form {
    flex:1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact-form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: var(--second-color);
}

.input-box {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: var(--border);
    background-color: var(--bg);
}

.input-box img {
    width: 2rem;
    height: 3rem;
    margin: 0 2rem;
}

.input-box input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: var(--second-color);
    background: none;
    outline: none;
    border: none;
}

.contact-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    color: var(--second-color);
    cursor: pointer;
    border: none;
    font-size: 1.7rem;
    text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.contact-btn:hover {
    background: #a0835f;
}

.submitted {
    color: var(--main-color);
    font-size: 1.5rem;
}



/************
MEDIA QUERIES
************/
@media screen and (max-width: 991px) {

}

@media screen and (max-width: 781px) {
    .header {
        padding: 1.5rem 2rem;
    }

    .menu-icon {
        display: inline-block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--second-color);
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .navbar a {
        display: block;
        margin: 1.5rem;
        padding: .7rem;
        color: var(--bg);
        font-size: 2rem;
        border-bottom: 1px solid var(--main-color);
    }

    .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        justify-content: center;
        text-align: center;
    }

    .home-content h3 {
        font-size: 3rem;
    }

    .home-content p {
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 450px) {

}

/********************
JAVASCRIPT CLASSLIST
********************/

.active {
    right: 0;
    transition: ease .6s;
}

.search-input-scale {
    transform: scaleY(1);
}