/******
GENERAL
******/

:root {
    --main-color: #d3ad7f;
    --second-color: #fff;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, 3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: .2s linear;
    font-size: 10px;
}

html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--second-color);
    border-radius: 5rem;
}

body {
    background: var(--bg);
}


/*****
HEADER
*****/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem;
    border-bottom: var(--border);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
}

.logo-img {
    border-radius: 50%;
    height: 12rem;
    width: 14rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--second-color);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon {
    cursor: pointer;
    margin-left: 2rem;
    width: 2rem;
    height: 2rem;
}

.icon:hover {
    color: var(--main-color);
}

.menu-icon {
    display: none;
}

.search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: var(--second-color);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.search-input {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    padding: 1rem;
    outline: none;
    border: none;
    text-transform: none;
}

.cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: var(--second-color);
    padding: 0 1.5rem;
}

.cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.exit-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.cart-item-img {
    height: 8rem;
    width: 8rem;
}

.cart-item h3 {
    font-size: 2rem;
}

.price {
    font-size:  1.5rem;
    color: var(--main-color);
}

.payment-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    color: var(--second-color);
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.payment-btn:hover {
    background: #a0835f;
}


/************
MEDIA QUERIES
************/
@media screen and (max-width: 991px) {

}

@media screen and (max-width: 781px) {
    .header {
        padding: 1.5rem 2rem;
    }

    .menu-icon {
        display: inline-block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--second-color);
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .navbar a {
        display: block;
        margin: 1.5rem;
        padding: .7rem;
        color: var(--bg);
        font-size: 2rem;
        border-bottom: 1px solid var(--main-color);
    }

    .search-form {
        width: 90%;
        right: 2rem;
    }
}

@media screen and (max-width: 450px) {

}

/********************
JAVASCRIPT CLASSLLIST
********************/

.active {
    right: 0;
    transition: ease .6s;
}

.search-input-scale {
    transform: scaleY(1);
}